@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

:root {
    --main-bg-color: #f99192;
    --main-txt-color: #f99192;
}

.main {
    display: flex; flex-direction: column;
    height: 100vh; padding-bottom: 50px;
    background-color: var(--main-bg-color);
    text-align: center; font-family: 'Lora', serif; font-size: 18px; color: var(--main-txt-color);
}

.title {
    padding: 20px;
    color: #fff; font-family: 'Lobster', cursive; font-weight: 400;
}

.joke {
    display: flex; flex-direction: column; align-items: center;
    margin: 0 auto; width: 80%; height: 70vh;
    background-color: #fff;

}

.joke__content {
    flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center;
}

.joke__setup, .joke__punchline {
    padding: 20px;
    text-align: center; font-family: 'Arial', cursive;
}

.joke__new {
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    color: #fff;
    margin-bottom: 20px;
    font-size: 12px;
}

.joke__new:focus {
    outline: none;
}

.joke__new:hover {
    background-color: #fff;
    color: var(--main-txt-color);
    border: 1px solid var(--main-txt-color);
}
